# Question 1.1
**Write a Python program to implement you own myreduce() function which works exactly like Python's built-in function reduce().**

The reduce(function, iterable[, initializer]) function is used to apply function of two arguments cumulatively to the items of iterable, from left to right, so as to reduce the iterable to a single value. If the optional initializer is present, it is placed before the items of the iterable in the calculation, and serves as a default when the iterable is empty. If initializer is not given and iterable contains only one item, the first item is returned.

In [35]:
def myreduce(function, iterable, initializer=None):
    if initializer == None:
        result = iterable[0]                           # initializing the result with the first element, if the initializer is not provided
        i = 1                                          # initializing the next element's position
    else:
        result = initializer                           # initializing the result with the initializer, if provided
        i = 0                                          # initializing the next element's position
    while i < len(iterable):                           # iterating from the next element's position to the last's
        operand_1 = result                             # first operand = previous function output
        operand_2 = iterable[i]                        # second operand = next element
        result = function(operand_1, operand_2)        # performing the function
        i += 1                                         # updating the next element's position
    return(result)

**Examples**

In [32]:
iterable = [1, 3, 5, 6, 2]
function = lambda a, b: a + b                        # function to find the sum of two elements
initializer = 10                      
print(myreduce(function, iterable, 10))

27

In [34]:
iterable = [11,]                                      # the same function on an iterable of one element
function = lambda a, b: a + b
print(myreduce(function, iterable))                   # no initializer given

11

In [36]:
iterable = (1, 3, 5, 6, 2)                           # a tuple
function = lambda a, b: a if a > b else b            # function to find the maximum of two elements
print(myreduce(function, iterable))

6

In [42]:
iterable = 'abcdefg'                                 # a string
function = lambda a, b: a + ' ' + b                  # function to add space in between elements
print(myreduce(function, iterable))

a b c d e f g

In [43]:
iterable = ['Natural', 'Language', 'Processing']
function = lambda a, b: a + b                        # function to add two elements; here, to concatenate two strings
print(myreduce(function, iterable))

NaturalLanguageProcessing

# Question 1.2
**Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter().**

The filter(function, iterable) method filters the given iterable with the help of a function that tests each element in the iterable to be true or not. It returns an iterator that passed the function check for each element in the iterable. If the function passed in is None, the output is the iterable itself.

In [55]:
def myfilter(function, iterable):
    if function == None:
        return(iterable)                                  # returns the iterable itself if the function is None
    else:
        out = [elt for elt in iterable if function(elt)]  # list comprehension with function values = True
        return(out)

**Examples**

In [56]:
iterable = ['a', 'b', 'c', 'd', 'm', 'n']
def isVowel(letter):                                     # function to check whether a letter is a vowel or not
    vowels = ['a', 'e', 'i', 'o', 'u']
    if letter in vowels:
        return(True)
    else:
        return(False)
print(myfilter(isVowel, iterable))

['a']

In [57]:
print(myfilter(None, iterable))

['a', 'b', 'c', 'd', 'm', 'n']

# Question 3
**Implement list comprehensions to produce the following lists :**

* ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [62]:
letters = ['x', 'y', 'z']
out = [letter*i for letter in letters for i in range(1, 5)]
out

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

* ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [63]:
letters = ['x', 'y', 'z']
out = [letter*i for i in range(1, 5) for letter in letters]
out

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

* [[2], [3], [4], [5], [6]]

In [64]:
out = [[i] for i in range(2, 7)]
out

[[2], [3], [4], [5], [6]]

* [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [67]:
out = [[i, i+1, i+2, i+3] for i in range(2, 6)]
out

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

* [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [70]:
out = [(i, j) for j in range(1, 4) for i in range(1, 4)]
out

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]